<%- include('./partials/head.ejs') %>

    <script type="module" src=https://js.arcgis.com/calcite-components/1.10.0/calcite.esm.js></script>
    <link rel="stylesheet" type="text/css" href=https://js.arcgis.com/calcite-components/1.10.0/calcite.css />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="/styles/base.css">
</head>
<body>
    <div class="z-50 flex flex-col-reverse lg:flex-row">
        <section class="w-full lg:w-[52%]">
            <div class="relative flex flex-col">
                <header class="sticky top-0 z-[15] flex justify-between border-b border-solid border-gray-200 bg-white p-2 px-3 md:px-6">
                    <div class="flex items-center gap-2">
                        <button class="rounded-lg bg-white px-2 py-1 text-base text-black hover:bg-gray-200 md:text-lg">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left" class="svg-inline--fa fa-arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="currentColor" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"></path>
                            </svg>
                        </button>
                        <button class="hidden md:block">
                            <a class="flex items-center gap-2" href="/">
                                <img src="/images/logo.png" alt="trip timer Logo" class="h-7 w-7">
                                <h2 class="text-black whitespace-nowrap text-lg font-medium block">trip timer</h2>
                            </a>
                        </button>
                    </div>
                </header>
                <form class="relative flex h-full flex-grow flex-col">
                    <div class="flex-grow px-3 pb-52 md:px-12">
                        <div class="my-8">
                            <div>
                                <div class="hidden flex-col justify-start gap-4 md:flex">
                                    <h2 class="w-fit text-center text-2xl font-medium md:text-start md:text-3xl">
                                        <span class="none" id="title">
                                            <span id="title_city-name"></span>
                                        </span>
                                    </h2>
                                    <p class="mb-6 text-base text-blue-gray-300 md:mt-5 md:text-start md:text-lg">
                                        <span>
                                            <span id="title_date"></span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div id="day-block-container">
                                <calcite-block collapsible heading="Day 1 ,  2023-11-09">
                                    <calcite-list drag-enabled>
                                        <calcite-list-item label="愛河之心" description="高雄市807三民區博愛一路和同盟一路、二路">
                                        </calcite-list-item>
                                        <calcite-list-item label="高雄展覽館" description="高雄市806前鎮區成功二路39號">
                                        </calcite-list-item>
                                    </calcite-list>
                                </calcite-block>
                                <calcite-block collapsible heading="Day 2 ,  2023-11-10">
                                    
                                </calcite-block>
                                <calcite-block collapsible heading="Day 3 ,  2023-11-11">
                                    
                                </calcite-block>
                            </div>
                        </div>
                    </div>
                    <!-- <footer class="fixed bottom-0 z-[55] mt-12 flex w-full flex-col border-t border-solid border-gray-200 bg-white shadow-[0px_-10px_28px_0px_rgba(0,0,0,0.07)] md:shadow-[-2px_18px_48px_74px_rgba(255,255,255,0.6)] lg:w-[52%]" style="opacity: 1; transform: none;">
                        <div class="flex flex-wrap items-end justify-end gap-2 px-3 py-4 text-lg md:items-end md:px-12 md:py-8 md:text-xl">
                            <div class="flex w-full items-center justify-between gap-2 md:w-fit">
                                <button id="back-btn" class="flex items-center gap-2 rounded-full px-4 py-1.5 text-base text-blue-gray-200 md:text-lg hover:bg-violet-400 hover:text-white">
                                    Back
                                </button>
                                <button id="next-btn" class="ml-auto flex items-center gap-2 rounded-full px-4 py-1.5 text-base text-indigo-500 md:text-lg bg-tp-purple-2 hover:bg-violet-400 hover:text-white">
                                    Build
                                </button>
                            </div>
                        </div>
                    </footer> -->
                </form>
            </div>
        </section>
        <section class="fixed right-0 top-0 z-[60] h-screen w-full overflow-hidden border-l  border-solid border-gray-200 transition-transform lg:w-[48%]  translate-x-full md:block lg:translate-x-0">
            <div class="relative flex h-full w-full flex-row-reverse">
                <div id='map'></div>
            </div>
        </section>
    </div>
    <script type="module" src="/scripts/trip.js"></script>
</body>
</html>
