<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>trip timer</title>
        <script type="module" src=https://js.arcgis.com/calcite-components/1.10.0/calcite.esm.js></script>
        <link rel="stylesheet" type="text/css" href=https://js.arcgis.com/calcite-components/1.10.0/calcite.css />
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" type="text/css" href="/styles/base.css">
        <link rel="stylesheet" type="text/css" href="/styles/add_site.css">
    </head>
    <body class="none">
        <script type="module" src="/scripts/checkAddSite.js"></script>
        <div id="title-container">
            <span id="title" class="none">Where to go in
                <span id="title_city-name"></span>
            ? 🤩</span>
        </div>
        <div>Select the spots you would like to include for your visit.</div>
        <div>
            <calcite-combobox id="site-input" placeholder="Search a spot" placeholder-icon="apps" selection-mode="single" max-items="4">
            </calcite-combobox>
        </div>
        <div>
            <calcite-list id="site">
            </calcite-list>
        </div>
        <div id='map'></div>
        <script type="module" src="/scripts/addSite.js"></script>    
    </body>
</html>