</head>
<body>
    <nav class="fixed top-0 z-50 mx-auto flex w-full items-center justify-between border-b border-solid border-transparent px-6 py-[1.1rem] transition-all lg:px-8 lg:py-0" aria-label="Global">
        <div class="mx-auto flex w-full max-w-screen-xl items-center justify-between">
            <div class="flex items-center gap-8">
                <a aria-current="page" class="flex gap-2 active" href="/">
                    <img src="/images/logo.png" alt="logo" width="30" height="30" class="h-7 w-7 items-center md:h-8 md:w-8">
                    <h1 class="text-base/7 font-medium md:text-xl/8">trip timer</h1>
                </a>
                <nav class="hidden lg:block">
                    <ul class="flex items-center gap-2">
                        <li>
                            <a class="my-auto rounded-full border-b-2 border-solid border-transparent px-4 py-1 font-medium text-primary transition-all hover:scale-120 hover:bg-primary hover:text-indigo-500" href="/trip/new" >
                                Start Planning
                            </a>
                        </li>
                        <li>
                            <a class="my-auto rounded-full border-b-2 border-solid border-transparent px-4 py-1 font-medium text-primary transition-all hover:scale-120 hover:bg-primary hover:text-indigo-500" href="/trip/new" >
                                Community trips
                            </a>
                        </li>
                        <li class="px-3 py-[1.1rem] opacity-0">.</li>
                    </ul>
                </nav>
            </div>
        </div>
    </nav>