<%- include('./partials/head.ejs') %>

<!-- <link rel="stylesheet" type="text/css" href="/styles/new_trip.css"> -->

<%- include('./partials/nav.ejs') %>

<div>ji3joiojojoiejfio</div>

<%- include('./partials/footer.ejs') %>

<script type="module" src="/scripts/index.js"></script>   
</body>
</html>